<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Test Front-end">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" media="screen"
          href="bower_components/angular/angular-csp.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="css/style.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ie-text-shadow/jquery-ie-text-shadow.js"></script>
    <script src="bower_components/selectivizr/selectivizr.js"></script>
    <script src="PIE/PIE_IE9.js"></script>
    <script src="PIE/PIE_IE678.js"></script>
    <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/models.js"></script>
    <script src="js/controllers.js"></script>
    <title></title>
</head>
<body ng-app="testApp">
<div class="container" ng-controller="mainController">
    <div id="wrapper">
        <div class="row">
            <div class="col-xs-7 avatar">
                <img class="ng-cloak" ng-src="{{user.avatarUri}}">
            </div>
            <div class="col-xs-17">
                <p class="name ng-cloak base-text">{{user.fullName}}</p>

                <p class="position ng-cloak">{{user.position}}</p>

                <div class="status ng-cloak">
                    <p>{{user.status}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8"></div>
            <div class="col-xs-16">
                <div class="service">
                    <table class="ng-cloak">
                        <tr class="border-bot">
                            <th class="right-colon service-header" colspan="2">
                                Услуг
                            </th>
                        </tr>
                        <tr>
                            <td class="service-data"></td>
                        </tr>
                        <tr ng-repeat="service in user.services">
                            <td class="service-data">
                                <div class="service-name">{{service.name}}&nbsp</div>
                                <div class="progress-bar" ng-style="service.css">&nbsp</div>
                            </td>
                            <td class="right-colon">
                                {{service.count}}
                            </td>
                        </tr>
                        <tr>
                            <td class="service-data"></td>
                        </tr>
                        <tr class="border-top base-text">
                            <th class="service-header left-colon">
                                Всего
                            </th>
                            <th class="right-colon service-header">
                                {{user.getTotalCount()}}
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <div class="base-text">Последние отзывы</div>
            </div>
            <div class="col-xs-7">
                <a href="">
                    <div class="base-text reviews-show" ng-show="!isShowAll && (getCommentsLength() > 5)"
                         ng-click="isShowAll=!isShowAll">Все отзывы
                    </div>
                </a>
            </div>
            <div class="col-xs-3 counters likes" ng-click="user.addLike()">
                <div class="counter ng-cloak"><span class="glyphicon  glyphicon-heart"></span> {{user.likes}}</div>
            </div>
            <div class="col-xs-3 counters">
                <div class="counter ng-cloak"><span class="glyphicon glyphicon-comment"></span> {{getCommentsLength()}}
                </div>
            </div>
        </div>
        <div class="row ng-cloak" ng-repeat="comment in getComments()">
            <div class="col-xs-24">
                <div class="reviews">
                    <div class="user-name base-text">
                        <p>{{comment.user}}</p>
                    </div>
                    <div class="message-date">
                        <P>{{comment.date}}</P>
                    </div>
                    <div class="message">
                        <p>{{comment.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer">
        <div class="col-xs-24">
            <form class="input-area">
                <div class="user-input">
                    <label for="user-input">Введите имя</label><input id="user-input" type="text" ng-model="userName"/>
                </div>
                <textarea id="message-input" class="message-input" ng-model="userComment"
                          ng-keypress="keyCheck($event)"></textarea>
            </form>

            <div class="message-sender" ng-click="addComment()">
                Написать консультанту
            </div>
        </div>
    </div>
</div>
</body>
</html>